@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
html {
  scroll-behavior: smooth;
  font-family: Open Sans;
}
:root {
  --color-primary: #ef5285;
  --border-size: 3px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  width: 100%;
  align-items:center;
  margin: 0 auto;
  background-color: white;
  
  padding: 10px 20px; 
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 1000;
}
.right_nav{
  width: 33.333%;
  position: absolute; 
  justify-items: end;
  justify-content: end;
  top: 10px; 
  right: 10px;
}
.right_nav ul {
  display: flex; 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}
.right_nav li {
  margin-left: 10px; 
}
.right_nav a {
  text-decoration: none; 
  color: #bab1b2; 
  font-size: 16px; 
  padding: 8px 12px; 
  border-radius: 30px; 
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.right_nav a:hover {
  color: #e2687e; 
  background-color: #f9e4e7; 
}
.right_nav a.active {
  color: #e2687e; 
  background-color: #f9e4e7; 
}
.search-container{
  width: 33.333%;
  display: flex;
  justify-content: end;


 
}

.left_nav{
  width: 33.333%;
  display: flex;
  list-style-type: none;
  justify-content:center; 
  padding: 0;
  gap:10px;
  
}
.links{
  margin-left: 18%;
  
}
nav a {
  text-decoration: none;
  color: #bab1b2;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transitions */
}
.nav-item {
  display: inline-block;
  padding: 8px 12px; 
  border-radius: 30px; 
}
.nav-item:hover {
  color: #e2687e;
  background-color: #f9e4e7; /* Background change on hover */
}
.nav-item.active {
  color: #e2687e;
  background-color: #f9e4e7;
}

#search-bar {
  border: none;
  width: 0;  /* Initially hidden */
  display: inline-block;  /* Make sure it can be animated */
  outline: none;

  border-bottom: 1px solid #e2687e;
 
  overflow: hidden;  /* Prevents overflow during transition */
  transition: width 0.3s ease-out; /* Add smooth transition for width */
}

#search-bar:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #e2687e;
}

.fa-magnifying-glass {
  font-size: 23px;
  color: #e2687e;
}

.fa-magnifying-glass:hover {
  transform: scale(1.1);
}
